html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    background: linear-gradient(rgb(99, 97, 97), rgb(75, 43, 52)); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*sidebar styling*/
.navbar{
    width: 200px;
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0; 
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    z-index: 1000;
}

.navbar h1{
    color: whitesmoke;
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
    flex-grow: 1;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    
}

.navbar ul li a:hover{
    background-color: brown;
}

.navbar-footer {
    color: #FFF;
    width: 70%;
    font-size: 13px;
    padding: 10px;
}

#mobile-menu {
    display: none;
}

section{
    scroll-snap-align: start;
    height: 100vh;
    padding: 3rem;
    margin-left: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.6s ease;
}

section.active{
    opacity: 1;
    transform: translateY(0);
}

.main{
    font-weight: bold;
    font-size: 6rem;
    text-align: center;
    text-shadow: 5px 1px 8px black;
    transform: skewX(15deg);
}

.about{
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
}

/*About me section styling*/
#aboutMe {
    font-size: 1.5rem;
}

/*skills section styling*/
#skills img {
    height: 40px;
    width: 50px;
}

.tools {
    display: flex;
}

/*Contact section styling*/
#email {
    width: 40%;
    height: 30px;
    margin-bottom: 10px;
    padding: 8px;
    background: transparent;
}

#message {
    width: 40%;
    padding: 8px;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    border-top: 2px solid #242424;
    border-left: 2px solid #242424;
    border-bottom: 2px solid #7c7b7b;
    border-right: 2px solid #7c7b7b;
}

.button {
    width: 70px;
    height: 20px;
   background-color: #000;
   color: #fff;
   border: none;
   border-radius: 10px;
   box-shadow: 0 0 2px #DADADA;
   margin-left: 360px;
}

.button:hover {
    box-shadow: 0 2px 3px #DADADA;
}

#contacts img {
    height: 40px;
    width: 50px;
}

#contacts img:hover {
    transition: 0.5s ease;
    opacity: 0.8;
}

.large-screen-footer {
    display: none;
}

.header{
    display: none;
}

/* Media queries for screen size responsiveness*/
@media (max-width: 800px) {
    .navbar {
        display: none;
    }

    .header {
        display: flex;
        position: fixed;
        top: 0;
        justify-content: space-between;
        background-color: rgba(126, 84, 124, 0.295);
        width: 100%;
        height: 50px;
        padding: 16px;
    }

    .header h1 {
        margin-right: 50px;
        font-size: 23px;
    }

    .menu-icon {
        width: 60px;
        height: 65px;
    }

    .menu-icon:hover {
        box-shadow: 0 0 3px;
    }

    #mobile-menu {
        display: none; /* Hide list initially */
        position: absolute;
        top: 10px;
        left: 65px;
        width: 80%;
        background: transparent;
        padding: 10px 0;
        z-index: 999;
        list-style: none; 
    }

    #mobile-menu.show {
        display: flex; /* Show when toggled */
        align-items: center;
        gap: 10px;
    }

    #mobile-menu li a {
        color: white;
        text-decoration: none;    
        display: block;
        width: 100%;
        text-align: center;
        font-size: 20px;
        padding-bottom: 50px;
    }

    .main{
        font-weight: bold;
        font-size: 4rem;
        text-align: center;
        text-shadow: 5px 1px 8px black;
    }

    section {
        padding: 1rem;
        margin-left: 0;
        padding-top: 80px;
    }

    #aboutMe {
        font-size: 1.2rem;
    }

    #email {
        width: 70%;
    }

    #message {
        padding-bottom: 40px;
        width: 70%;
    }

    .button{
        margin-left: 280px;
    }

    .large-screen-footer {
        display: flex;
        margin-top: 450px;
        justify-content: center;
        margin-bottom: 70px;
    }


}