html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #1C1C28;
}
/*sidebar styling*/
.navbar{
    width: 200px;
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0; 
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    z-index: 1000;
}

.navbar h1{
    color: whitesmoke;
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
    flex-grow: 1;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar ul li a:hover{
    background-color: #9E1C60;
}

.navbar-footer {
    color: #FFF;
    width: 70%;
    font-size: 13px;
    padding: 15px;
}

section{
    scroll-snap-align: start;
    height: 100vh;
    padding: 3rem;
    margin-left: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transform: translateY(10px);
    transition: all 0.6s ease;
    padding-top: 60px;
    background-color: #232333;
}

section h1 {
    color: white;
}

.main{
    font-weight: bold;
    font-size: 6rem;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgba(143, 63, 123, 0.6);
}

.about{
    font-size: 1.8rem;
    margin-top: 20px;
    text-align: center;
    color: #DD7BDf;
    opacity: 2.8;
}

/*About me section styling*/
.about-me {
    margin: 0 auto;
    background-color: #1C1C28;
    font-size: 1.5rem;
    color: white;
    line-height: 1.4;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

/*skills section styling*/
.stack {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#skills ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 4rem;
    background-color: #1C1C28;
    border-radius: 20px;
    height: 270px;
    padding-top: 20px;
   
}

#skills ul li{
    list-style: none;
}

#skills img {
    height: 50px;
    width: 50px;
}

/*Contact section styling*/
form {
    display: grid;
    grid-template-columns: 1fr;
}

form p a{
    text-decoration: none;
    color: #fff;
}

form p a:hover {
    color: #2c2e35;
}

form .email {
    width: 40%;
    height: 30px;
    margin-bottom: 10px;
    padding: 8px;
    background: transparent;
}

form .message {
    width: 40%;
    padding: 8px;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    border-top: 2px solid #242424;
    border-left: 2px solid #242424;
    border-bottom: 2px solid #7c7b7b;
    border-right: 2px solid #7c7b7b;
}

.button {
    width: 70px;
    height: 20px;
    background-color: #DD7BDF;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px #DADADA;
    margin-left: 360px;
}

.button:hover {
    box-shadow: 0 2px 3px #DADADA;
}

#contacts img {
    height: 40px;
    width: 50px;
}

#contacts img:hover {
    transition: 0.5s ease;
    opacity: 0.8;
}

.contact-section p {
    color: white;
    font-size: 1.2rem;
}

.contact-section h4 {
    color: white;
    margin-bottom: 10px;
}

.socials {
    display: flex;
    gap: 15px;
}

.large-screen-footer {
    display: none;
}

.header{
    display: none;
}

/*Projects styling*/
.projects-section{ 
    position: relative;
}

.projects { 
    display: flex;
    gap: 1rem;
    width: calc(250px * 18);
    animation: scroll 100s linear infinite;
}

.projects:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.project {
    width: 300px;
    height: 350px;
    background-color: rgba(59, 36, 54, 0.384);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.project:hover{
    box-shadow: 0 0 3px;
    transform: scale(1.02);
    transition: 0.4s ease-in;
}

.project img {
    width: 260px;
    height: 200px;
    border-radius: 5px;
    margin-top: 25px;
    object-fit: cover;
}

.project p {
    text-align: center;
    margin-top: 5px;
}

.links {
    display: flex;
    gap: 1rem;
}

.close-icon {
    display: none;
}

/* Media queries for screen size responsiveness*/
@media (max-width: 800px) {
    .navbar {
        display: none;
    }

    .header {
        display: flex;
        position: fixed;
        top: 0;
        justify-content: space-between;
        background-color: rgba(126, 84, 124, 0.29);
        width: 100%;
        padding: 16px;
        z-index: 1000;
    }

    .header h1 {
        margin-right: 50px;
        font-size: 23px;
    }

    .menu-icon {
        width: 50px;
        height: 50px;
        transition: box-shadow 0.3s ease;
    }

    .menu-icon:hover {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    }

    .main{
        font-weight: bold;
        font-size: 3rem;
        text-align: center;
        text-shadow: 5px 1px 8px black;
    }

    section {
        padding: 1rem;
        margin-left: 0;
        padding-top: 80px;
    }

    #aboutMe {
        font-size: 1.2rem;
    }

    .more {
        display: none;
    }

    #email {
        width: 70%;
    }

    #message {
        padding-bottom: 40px;
        width: 70%;
    }

    .button{
        margin-left: 280px;
    }

    .large-screen-footer {
        display: flex;
        margin-top: 450px;
        justify-content: center;
        margin-bottom: 70px;
    }

    .mobileMenu {
        display: none;
        margin-top: 50px;
        position: absolute;
        z-index: 1001;
    }

    .mobileMenu ul{
        list-style: none;
        display: flex;
        gap: 15px;
    }

    .mobileMenu li a{
        text-decoration: none;
        color: #242424;
    }

    .mobileMenu li a:hover{
       color: brown;
    }

    .close-icon {
        display: none;
        height: 40px;
        padding-top: 8px;
    }

    #skills ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 4rem;
        padding: 6px;
    }

    .project img {
        width: 200px;
        height: 180px;
        border-radius: 5px;
        margin-top: 25px;
    }

    .projects {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }
}